:root {
  /* Add root colors to use on all other pages */

  --off-white: #f3f3f3;
  --dutch-white: #e8ddb5;
  --pink: #edafb8;
  --blue: #95b8d1;
  --gray: #666a86;
  --dark: #333333;

}

body, html {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  height: 100%;
  background-color: var(--dutch-white);
  font-family: 'Fredoka One', cursive;
}

a {
  text-decoration: none;
  font-size: 2rem;
  color: var(--gray);
  transition: 0.2s ease-out;
}

a:hover {
  color: var(--pink);
  font-size: 2.3rem;
  transition: 0.2s ease-in;
}

img {
  transition: 0.2s ease-out;
}

img:hover {
  height: 55px;
  width: 55px;
  transition: 0.2s ease-in;
}