.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    background-color: var(--off-white);
    padding: 2.5rem;
    border-radius: 30px;
}

.value {
    font-size: 4rem;
    color: var(--blue);
}

.header {
    font-size: 4.5rem;
    color: var(--dark);
}